[Unit]
Description=Set STM32 ALSA PCM volume
After=sound.target spotifyd.service
Wants=sound.target
Requires=spotifyd.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'until /usr/bin/amixer -c 0 get PCM >/dev/null 2>&1; do sleep 1; done; /usr/bin/amixer -c 0 set PCM 100%'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
